{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-box">
    <h2>Create Account</h2>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                <small>{{ field.errors }}</small>
            </div>
        {% endfor %}

        <button type="submit">Signup</button>
    </form>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

</body>
</html>
